/* @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"); */
@import url("https://fonts.cdnfonts.com/css/harry-potter");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Licorice&display=swap");
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: url(/Users/ida/VS-codeProjects/Group_project_game/app/src/assets/hp.jpg);
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: center;
  margin-top: 40px;
}

/*GENERAL*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-content: center;
  height: 100vh;
}

/*Buttons*/

.btn-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 20px;
}

.login-btn {
  width: 350px;
  height: 100px;
  font-family: "Harry Potter", sans-serif;
  font-size: 40px;
  cursor: pointer;
  box-shadow: 5px 5px 8px #888888;
  border: none;
  padding-top: 20px;
  background-color: #242118;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-btn:hover,
.submit-btn:hover,
.start-btn:hover {
  transform: scale(1.05);
  background-color: #3d3a33;
}

/*Forms*/

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 500px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form-heading {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

label {
  display: flex;
  flex-direction: column;
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

input {
  width: 300px;
}

span {
  font-size: 14px;
}

.submit-btn {
  width: 200px;
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  box-shadow: 5px 5px 8px #888888;
  border: none;
  padding-top: 20px;
  background-color: #242118;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 10px;
}

.hogwarts-logo {
  width: 200px;
  height: 200px;
  opacity: 0.8;
}

/* Navigation */

nav {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-family: "Harry Potter", sans-serif;
  font-size: 60px;
}

.link-text {
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 8px #37404e;
}

.link-text:hover {
  color: #4a4236;
}

/*PaperBox-component*/

.paper-box-container {
  width: 900px;
  height: 600px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.paper-img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  gap: 40px;
}

/*Game-page*/

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 600px;
}

.game-heading {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  margin-bottom: 0px;
  max-width: 400px;
  text-shadow: 2px 2px 8px #37404e;
}

.start-btn {
  width: 300px;
  height: 100px;
  font-family: "Harry Potter", sans-serif;
  font-size: 50px;
  cursor: pointer;
  box-shadow: 5px 5px 8px #888888;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
  padding-top: 20px;
  margin-top: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-link {
  font-family: "Harry Potter", sans-serif;
  font-size: 60px;
  color: #fff;
}

/*Quiz-page*/

.character-img {
  border: #242118 solid 1px;
  box-shadow: 4px 4px 6px #37404e;
}

.option-btn {
  cursor: pointer;
  color: #fff;
  margin: 10px;
  padding: 10px 20px;
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  box-shadow: 5px 5px 8px #888888;
  width: 250px;
}

.option-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/*Login-page*/

.go-back-btn {
  position: absolute;
  bottom: 0;
  left: 0;
}

.go-back-icon {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.go-back-icon:hover {
  color: #4a4236;
}

/*timer*/

.time-score-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: absolute;
  z-index: 1;
  margin-left: 25px;
  margin-top: 30px;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: rgb(215, 212, 49);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-family: "Cinzel Decorative", serif;
  padding: 6px;
  width: 80px;
}

.score {
  text-align: center;
  font-size: 14px;
  font-family: "Cinzel Decorative", serif;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80px;
}

.character-img {
  width: 200px;
  height: 300px;
}

/* Responsive Design */

@media screen and (max-width: 768px) {
  main {
    margin-top: 20px;
    padding: 10px;
  }
  .paper-box-container,
  .game-container,
  .form-container {
    width: 100%;
    height: auto;
  }

  .option-btn {
    margin: 5px;
    font-size: 12px;
  }

  nav {
    font-size: 40px;
    gap: 20px;
  }

  .login-btn,
  .start-btn {
    min-width: 200px;
    height: 80px;
    font-size: 30px;
    padding: 10px;
  }

  .timer {
    font-size: 12px;
    padding: 5px;
  }

  .time-score-container {
    margin-left: 30px;
  }
}

@media screen and (max-width: 480px) {
  nav {
    gap: 20px;
  }

  .link-text {
    font-size: 20px;
    margin: 10px;
  }

  .content {
    gap: 8px;
  }
  .option-btn {
    width: 130px;
    margin: 5px 0;
    font-size: 10px;
    padding: 5px;
  }

  .start-btn {
    font-size: 20px;
    width: 200px;
    height: 50px;
  }

  .login-btn {
    font-size: 20px;
    width: 200px;
    height: 60px;
  }

  .submit-btn {
    font-size: 15px;
    min-width: 180px;
    height: 40px;
  }

  .time-score-container {
    gap: 10px;
  }

  .timer {
    font-size: 8px;
    padding: 1px;
    width: 50px;
  }
  .score {
    font-size: 8px;
    padding: 1px;
    width: 50px;
  }

  .game-heading {
    font-size: 15px;
  }

  .character-img {
    width: 110px;
    height: 160px;
  }

  .heading-container {
    margin: 0px;
  }

  .form-container {
    width: 500px;
    height: 500px;
  }

  .form {
    gap: 10px;
  }
  .form-heading {
    font-size: 30px;
  }

  label {
    font-size: 15px;
  }

  input {
    width: 180px;
  }

  .submit-btn {
    font-size: 13px;
    width: 120px;
    height: 30px;
  }

  .hogwarts-logo {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  main {
    margin-top: 15px;
    padding: 8px;
  }

  .paper-box-container,
  .game-container,
  .form-container {
    width: 90%;
    height: auto;
  }

  .character-img {
    border: solid 2px lightblue;
    width: 120px;
    height: 180px;
  }

  .option-btn {
    margin: 6px;
    padding: 6px 12px;
    font-size: 12px;
    width: 150px;
  }
  .game-heading {
    font-size: 18px;
  }

  nav {
    font-size: 36px;
    gap: 15px;
  }

  .login-btn {
    font-size: 20px;
    width: 200px;
    height: 60px;
  }

  .start-btn {
    font-size: 20px;
    max-width: 150px;
    height: 50px;
  }

  .submit-btn {
    font-size: 15px;
    min-width: 180px;
    height: 40px;
  }

  .timer,
  .score {
    font-size: 10px;
    padding: 2px;
    width: 60px;
  }

  .time-score-container {
    margin-left: 15px;
    gap: 8px;
  }

  .content {
    gap: 10px;
  }

  .form-container {
    width: 500px;
    height: 500px;
  }
  .form-heading {
    font-size: 30px;
  }

  label {
    font-size: 15px;
  }

  input {
    width: 200px;
  }

  .submit-btn {
    font-size: 15px;
    width: 140px;
  }

  .hogwarts-logo {
    width: 100px;
    height: 100px;
    opacity: 0.8;
  }
}
