@import url("https://fonts.cdnfonts.com/css/harry-potter");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Licorice&display=swap");
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: url(/Users/ida/VS-codeProjects/HarryPotter_Quiz/app/src/assets/hogwartsSchool.png);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-content: center;
  height: 100vh;
}

.span-text {
  color: #000000;
  text-shadow: 0 0 10px #e1ddcb, 0 0 10px #b8812f, 0 0 30px #ea9b65;
}

/*Buttons*/

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submit-btn {
  width: 200px;
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  box-shadow: 5px 5px 8px #888888;
  border: none;
  background-color: #242118;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.start-btn,
.login-btn {
  position: relative;
  font-size: 45px;
  font-family: "Harry Potter", sans-serif;
  color: #000000;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.3s, text-shadow 0.3s;
  text-shadow: 0 0 10px #d4c68a, 0 0 10px #b8812f, 0 0 30px #ea9b65;
  margin-left: 30px;
}

.start-btn:hover,
.login-btn:hover,
.submit-btn:hover,
.game-over-modal-btn:hover,
.high-score-modal-btn:hover,
.high-score-close-modal-btn:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px #ffcc00, 0 0 20px #ff9900;
}

.option-btn {
  cursor: pointer;
  color: #fff;
  margin: 10px;
  padding: 10px 20px;
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  box-shadow: 5px 5px 8px #888888;
  width: 230px;
}

.option-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Forms*/

.form-container {
  width: 900px;
  height: 500px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form-heading {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

label {
  display: flex;
  flex-direction: column;
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

input {
  width: 300px;
}

span {
  font-size: 14px;
}

.hogwarts-logo {
  margin-top: 20px;
  width: 120px;
  height: 120px;
  opacity: 0.8;
}

/* Navigation */

nav {
  margin: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-family: "Harry Potter", sans-serif;
  font-size: 50px;
}

.link-text {
  text-decoration: none;
  color: black;
  text-shadow: 0 0 10px #e1ddcb, 0 0 10px #b8812f, 0 0 30px #ea9b65;
}

.link-text:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px #ffcc00, 0 0 20px #ff9900;
}

/*PaperBox-component*/

.paper-box-container {
  width: 900px;
  height: 700px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content-container {
  width: 100%;
  height: 100%;
  background-image: url(/Users/ida/VS-codeProjects/HarryPotter_Quiz/app/src/assets/paperroll.png);
  background-size: contain;
  background-position: center center;
  background-origin: content-box;
  opacity: 0.9;
}

.content.quiz {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.content.home,
.content.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  gap: 40px;
}

.content.login,
.content.createAccaount,
.content.home {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.game-container,
.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 600px;
}

/*Game-Over-Modal & High-Score-Modal*/

.game-over-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-over-modal-content {
  width: 800px;
  height: 500px;
  background-image: url(/Users/ida/VS-codeProjects/HarryPotter_Quiz/app/src/assets/paperroll.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.game-over-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 250px;
}

.game-over-modal-btn-container {
  display: flex;
  gap: 20px;
}

.game-over-modal-btn {
  padding-top: 10px;
  width: 70px;
  height: 40px;
  font-family: "Harry Potter", sans-serif;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: #242118;
  color: #fff;
  transition: background-color 0.2s ease, transform 0.3s ease;
}

.high-score-modal-btn {
  padding-top: 8px;
  width: 100px;
  height: 40px;
  font-family: "Harry Potter", sans-serif;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: #242118;
  color: #fff;
  transition: background-color 0.2s ease, transform 0.3s ease;
}

.game-over-modal-msg {
  font-family: "Harry Potter", sans-serif;
  font-size: 25px;
  color: #fff;
  text-shadow: 2px 2px 8px #37404e;
  margin: 0;
  position: absolute;
}

.game-over-img {
  position: absolute;
  display: flex;
  width: 150px;
  height: 250px;
}

.high-score-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.high-score-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
  background-image: url(/Users/ida/VS-codeProjects/HarryPotter_Quiz/app/src/assets/paperroll.png);
  background-size: cover;
  gap: 10px;
  padding: 20px;
}

.high-score-heading {
  font-family: "Harry Potter", sans-serif;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 8px #37404e;
  margin: 0;
}

.high-score-close-modal-btn {
  margin-bottom: 0px;
  margin-top: 10px;
  padding-top: 8px;
  width: 100px;
  height: 40px;
  font-family: "Harry Potter", sans-serif;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: #242118;
  color: #fff;
  transition: background-color 0.2s ease, transform 0.3s ease;
}

.high-score-ul {
  font-family: "Cinzel Decorative", serif;
  font-size: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  padding: 0;
  margin: 0;
}

/*Home-page*/

.snitch-img {
  width: 250px;
  height: 110px;
  margin-bottom: 20px;
  margin-right: 25px;
}

.letter-R {
  font-size: 30px;
  font-family: "Harry Potter", sans-serif;
  color: #e99b1d;
  text-shadow: 2px 2px 8px #37404e;
  position: absolute;
  margin-bottom: 0px;
  margin-left: 50px;
}

.snitch-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/*Game-page*/

.lightning-icon {
  margin-left: 5px;
}

.start-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wandAnimation {
  width: 150px;
  height: 200px;
  position: absolute;
  left: 60%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-link {
  font-family: "Harry Potter", sans-serif;
  font-size: 60px;
  color: #fff;
}

/*Typing animation game-page*/

.typing-text p {
  font-size: 18px;
  font-family: "Cinzel Decorative", serif;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 70px;
  margin-bottom: 0px;
  top: 20px;
  display: inline-block;
  max-width: 600px;
  text-shadow: 0 0 10px #cbc29a, 0 0 10px #545858, 0 0 30px #e9e2dcd6;
}

.typing-text p:nth-child(1) {
  width: 600px;
  animation: type 2s steps(20, end);
  animation-fill-mode: forwards;
}

.typing-text p:nth-child(2) {
  width: 600px;
  opacity: 0;
  animation: type2 2s steps(20, end);
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.typing-text p:nth-child(3) {
  width: 600px;
  opacity: 0;
  animation: type3 2s steps(20, end);
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
.typing-text p:nth-child(4) {
  width: 600px;
  opacity: 0;
  animation: type4 2s steps(20, end);
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

.typing-text p:nth-child(5) {
  width: 600px;
  opacity: 0;
  animation: type5 2s steps(20, end), 0.5s step-end infinite alternate;
  animation-delay: 8s;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type4 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type5 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/*Quiz-page*/

.character-img {
  border: #242118 solid 1px;
  box-shadow: 4px 4px 6px #37404e;
  width: 150px;
  height: 200px;
  margin: 10px;
}

/*Login-page*/

.go-back-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 500px;
  margin-left: 30px;
}

.go-back-icon {
  font-size: 30px;
  color: #ebebeb;
  cursor: pointer;
  transition: color 0.3s ease;
}

.go-back-icon:hover {
  color: #4a4236;
}

/*timer*/

.time-score-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 680px;
  margin-top: 20px;
}

.timer,
.score {
  font-size: 14px;
  color: #000000;
  font-family: "Cinzel Decorative", serif;
  width: 90px;
}

/* Responsive Design */

@media screen and (max-width: 768px) {
  /* content */

  .content.home {
    position: absolute;
    top: 52%;
    left: 50%;
    z-index: 1;
    text-align: center;
  }

  .content.login {
    top: 50%;
  }

  .content {
    gap: 8px;
  }

  /* containers */

  .paper-box-container {
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .time-score-container {
    width: 280px;
  }

  .option-btn-container {
    flex-direction: row;
    gap: 15px;
  }

  .heading-container {
    gap: 0px;
  }
  /* navigation */

  nav {
    gap: 20px;
  }

  /* text, buttons, img */

  .link-text {
    font-size: 30px;
    margin: 10px;
  }

  .typing-text p {
    font-size: 15px;
    text-align: center;
    margin-left: 20px;
  }

  .game-heading {
    font-size: 15px;
  }

  .heading-container {
    margin: 0px;
  }

  .timer {
    font-size: 10px;
    font-weight: 600;
    padding: 1px;
    width: 70px;
  }

  .score {
    font-size: 10px;
    font-weight: 600;
    padding: 1px;
    width: 50px;
  }

  .character-img {
    width: 120px;
    height: 200px;
    margin-bottom: 30px;
  }

  .start-btn {
    font-size: 30px;
    width: 200px;
    height: 50px;
  }

  .login-btn {
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .submit-btn {
    font-size: 15px;
    min-width: 180px;
    height: 40px;
    text-align: center;
  }

  .option-btn {
    width: 130px;
    margin: 5px 0;
    font-size: 10px;
    padding: 5px;
  }

  .go-back-btn {
    display: flex;
    justify-content: flex-start;
    width: 320px;
  }

  /*modal*/

  .game-over-modal-container,
  .high-score-modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .game-over-modal-content {
    background-image: none !important;
  }

  .high-score-modal-content {
    background-image: none !important;
    position: absolute;
  }

  .high-score-ul {
    font-family: "Cinzel Decorative", serif;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0 0 10px #ffcc00, 0 0 20px #ff9900;
  }

  .high-score-close-modal-btn,
  .high-score-modal-btn,
  .game-over-modal-btn {
    border: #786565 solid;
    text-shadow: 0 0 10px #ffcc00, 0 0 20px #ff9900;
  }

  /* form */

  .form-container {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50px);
  }

  .form-heading {
    font-size: 30px;
  }

  label {
    font-size: 15px;
  }

  input {
    width: 180px;
  }

  .submit-btn {
    font-size: 13px;
    width: 120px;
    height: 30px;
  }

  .hogwarts-logo {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  /* content */

  .content.home {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
  }

  .content.game {
    gap: 20px;
    top: 50%;
  }

  .content.quiz {
    position: absolute;
    top: 47%;
    left: 50%;
    z-index: 1;
    text-align: center;
  }

  .content.login,
  .content.createAccaount {
    top: 57%;
  }

  .content {
    gap: 8px;
  }

  /* containers */

  .game-container,
  .quiz-container {
    height: 400px;
  }

  .btn-container {
    gap: 0px;
  }

  .paper-box-container {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .time-score-container {
    width: 245px;
  }

  .option-btn-container {
    flex-direction: row;
    gap: 10px;
  }

  .heading-container {
    display: flex;
    gap: 0px;
  }

  /* navigation */

  nav {
    gap: 20px;
  }

  /* text, buttons, img */

  span {
    font-size: 10px;
  }

  .link-text {
    font-size: 20px;
    margin: 10px;
  }

  .typing-text p {
    font-size: 10px;
  }

  .game-heading {
    font-size: 15px;
  }

  .option-btn {
    width: 120px;
    font-size: 10px;
    padding: 5px;
  }

  .start-btn {
    font-size: 20px;
    width: 200px;
    height: 50px;
  }

  .submit-btn {
    font-size: 13px;
    width: 120px;
    height: 30px;
  }

  .go-back-btn {
    align-items: center;
    justify-content: flex-start;
  }

  .go-back-icon {
    font-size: 30px;
    color: #433110;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .timer {
    font-size: 8px;
    font-weight: 600;
    padding: 1px;
    width: 50px;
  }
  .score {
    font-size: 8px;
    font-weight: 600;
    padding: 1px;
    width: 50px;
  }

  .character-img {
    width: 90px;
    height: 150px;
    margin: 10px;
  }

  .hogwarts-logo {
    display: none;
  }

  /* modal */

  .game-over-modal-container,
  .high-score-modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .game-over-modal-content {
    background-image: none !important;
  }

  .high-score-modal-content {
    background-image: none !important;
    position: absolute;
  }

  .high-score-ul {
    font-family: "Cinzel Decorative", serif;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0 0 10px #ffcc00, 0 0 20px #ff9900;
  }

  .high-score-close-modal-btn,
  .high-score-modal-btn,
  .game-over-modal-btn {
    border: #786565 solid;
    text-shadow: 0 0 10px #ffcc00, 0 0 20px #ff9900;
  }

  /* form */

  .form-container {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form {
    gap: 0px;
  }

  .form-heading {
    font-size: 25px;
    margin: 3px;
  }

  label {
    font-size: 13px;
    margin-top: 2px;
  }

  input {
    width: 180px;
  }
}
