body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(/Users/ida/VS-codeProjects/Group_project_game/app/src/assets/hp.jpg);
  background-size: cover;
}
